fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt<4.0.0
py-ulid
alembic>=1.8.0,<2.0.0
dependency-injector==4.48.1
pydantic[email]
python-jose[cryptography]==3.5.0
python-multipart==0.0.9
pydantic-settings
celery
pytest
pytest-mock
freezegun